<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <div class="jumbotron">
                <h1>Welcome!</h1>
                <p>
                    The REDFLAG ANALYSIS&trade; toolset provides clear directives for risk mitigation and improvement priorities.
                    Perform IT Due Diligence straightforward and confident. The knowledge of countless implementation projects at your fingertips. It's your insurance for successful transactions.
                </p>
                <p>
                    <a href="@Url.Action(" Index", "Project" )" class="btn btn-primary btn-lg" role="button">Manage your projects</a>
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="no-padding">
                <img alt="image" class="img-responsive pull-left" src="/Images/EyeAnalysis.jpg">
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4 col-lg-offset-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>About the REDFLAG ANALYSIS&trade;</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        The REDFLAG ANALYSIS™ tool provides the automated way to assess target companies. It provides profound insight on all relevant topics within the Business IT landscape.
                    </p>
                    <p>
                        The experience and knowledge of 20+ years of experience in Business IT solutions is the foundation of the method and toolset.
                    </p>
                    <p>
                        The tool-based analysis guides straight to clear directives for risk mitigation and improvement priorities.
                    </p>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Distribution of your projects</h5>
                    <div class="ibox-tools">
                        <span class="label label-warning-light pull-right">11 countries</span>
                    </div>
                </div>
                <div class="ibox-content">

                    <div id="world-map"></div>

                </div>
            </div>
        </div>
    </div>



</div>

@section Scripts {
    @Scripts.Render("~/plugins/vectorMap")

<script type="text/javascript">
        $(document).ready(function () {

            var mapData = {
                "US": 298,
                "SA": 200,
                "DE": 220,
                "FR": 540,
                "CN": 120,
                "AU": 760,
                "BR": 550,
                "IN": 200,
                "GB": 120,
            };

            $('#world-map').vectorMap({
                map: 'world_mill_en',
                backgroundColor: "transparent",
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 0.9,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0
                    }
                },

                series: {
                    regions: [{
                        values: mapData,
                        scale: ["#0078be", "#0078bf"],
                        normalizeFunction: 'polynomial'
                    }]
                },
            });

        });
</script>
}